cloud/flowsv2.json
[{"id":"switch_pot","type":"switch","z":"92042de7f77235d1","name":"switch","property":"payload.message.valeur1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"lte","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":638.8125076293945,"y":372.00000953674316,"wires":[["change_green"],["change_red"]]},{"id":"change_green","type":"change","z":"92042de7f77235d1","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":910.9554214477539,"y":349.00000953674316,"wires":[["ui_led"]]},{"id":"change_red","type":"change","z":"92042de7f77235d1","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":899.0983123779297,"y":438.00001335144043,"wires":[["ui_led"]]},{"id":"button","type":"ui_button","z":"92042de7f77235d1","name":"Send Request Button","group":"bbee641b3042639f","order":3,"width":"4","height":"2","passthru":false,"label":"Envoyer Requête","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","topic":"","topicType":"str","x":392.8125457763672,"y":791.0000667572021,"wires":[["d184f0cfe2b356a8"]]},{"id":"websocket_in","type":"websocket in","z":"92042de7f77235d1","name":"WebSocket Receive","server":"f2fbea9c78fb04ef","client":"","x":220.01258087158203,"y":604.8126049041748,"wires":[["059132fee099547c"]]},{"id":"websocket_out","type":"websocket out","z":"92042de7f77235d1","name":"WebSocket Send","server":"f2fbea9c78fb04ef","client":"","x":837.0126495361328,"y":821.8126964569092,"wires":[]},{"id":"inject_node","type":"inject","z":"92042de7f77235d1","name":"Send Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","x":415.01258087158203,"y":852.8126354217529,"wires":[["d184f0cfe2b356a8"]]},{"id":"d184f0cfe2b356a8","type":"json","z":"92042de7f77235d1","name":"","property":"payload","action":"str","pretty":false,"x":607.000072479248,"y":821.7969493865967,"wires":[["websocket_out"]]},{"id":"059132fee099547c","type":"json","z":"92042de7f77235d1","name":"","property":"payload","action":"obj","pretty":false,"x":411.81249618530273,"y":676.6124722957611,"wires":[["a46035ab3bf2865e"]]},{"id":"5b827c45d4ad6ac4","type":"ui_gauge","z":"92042de7f77235d1","name":"","group":"bbee641b3042639f","order":3,"width":0,"height":0,"gtype":"gage","title":"Valeur","label":"units","format":"{{msg.payload.message.value1}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1068.0000629425049,"y":777.3657422065735,"wires":[]},{"id":"a46035ab3bf2865e","type":"switch","z":"92042de7f77235d1","name":"","property":"payload.message.id_boitier","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":559.0125694274902,"y":642.4843587875366,"wires":[["switch_pot","893b61055c0bc46a"],["c611ee40f630a134","5b827c45d4ad6ac4","4286d6d5688e0954"]]},{"id":"893b61055c0bc46a","type":"debug","z":"92042de7f77235d1","name":"Debug Message1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":853.412483215332,"y":599.4124965667725,"wires":[]},{"id":"4286d6d5688e0954","type":"debug","z":"92042de7f77235d1","name":"Debug Message2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1108.812442779541,"y":697.0125312805176,"wires":[]},{"id":"c611ee40f630a134","type":"ui_text","z":"92042de7f77235d1","group":"bbee641b3042639f","order":2,"width":"5","height":"3","name":"Potentiometer Value","label":"Potentiometer Value","format":"{{msg.payload.message.value1}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1130.8125648498535,"y":612.6125664710999,"wires":[]},{"id":"e329e6cd32018ec0","type":"group","z":"92042de7f77235d1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ui_led"],"x":1223.8125190734863,"y":263.99998664855957,"w":152,"h":82},{"id":"ui_led","type":"ui_led","z":"92042de7f77235d1","g":"e329e6cd32018ec0","order":1,"group":"a95871e3b3b157a1","width":"","height":"","label":"Potentiometer LED","colorForValue":[{"color":"#008000","value":"green","valueType":"str"},{"color":"#ff0000","value":"red","valueType":"str"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"LED","x":1299.8125190734863,"y":304.99998664855957,"wires":[]},{"id":"a95871e3b3b157a1","type":"ui_group","name":"Value","tab":"336bb62cb9b5a5ee","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"336bb62cb9b5a5ee","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"bbee641b3042639f","type":"ui_group","name":"LED","tab":"336bb62cb9b5a5ee","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f2fbea9c78fb04ef","type":"websocket-listener","path":"ws://192.168.137.127:8765","wholemsg":"false"}]