cloud/flows.json
[{"id":"inject_pot","type":"inject","z":"92042de7f77235d1","name":"Potentiometer Input","props":[{"p":"payload"}],"repeat":"1","once":true,"topic":"","payload":"50","payloadType":"num","x":217.81249237060547,"y":461.9999895095825,"wires":[["switch_pot"]]},{"id":"switch_pot","type":"switch","z":"92042de7f77235d1","name":"Check Pot Value","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"100","vt":"num"},{"t":"gt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":472.8125114440918,"y":387.0000057220459,"wires":[["change_green"],["change_red"]]},{"id":"change_green","type":"change","z":"92042de7f77235d1","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":679.8125152587891,"y":322.0000047683716,"wires":[["ui_led"]]},{"id":"change_red","type":"change","z":"92042de7f77235d1","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":680.8125762939453,"y":481.0000047683716,"wires":[["ui_led"]]},{"id":"ui_led","type":"ui_led","z":"92042de7f77235d1","order":1,"group":"b5640878e8218e75","width":"","height":"","label":"Potentiometer LED","colorForValue":[{"color":"#008000","value":"green","valueType":"str"},{"color":"#ff0000","value":"red","valueType":"str"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"LED","x":1028.8124465942383,"y":393.00000286102295,"wires":[]},{"id":"ui_text","type":"ui_text","z":"92042de7f77235d1","group":"b5640878e8218e75","order":2,"width":6,"height":1,"name":"Potentiometer Value","label":"Potentiometer Value","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":712.8125152587891,"y":386.000036239624,"wires":[]},{"id":"button","type":"ui_button","z":"92042de7f77235d1","name":"Send Request Button","group":"b5640878e8218e75","order":1,"width":6,"height":1,"passthru":false,"label":"Envoyer Requête","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":209.81256103515625,"y":297.0000219345093,"wires":[["http_request"]]},{"id":"http_request","type":"http request","z":"92042de7f77235d1","name":"HTTP Request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://jsonplaceholder.typicode.com/posts/1","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":472.8125114440918,"y":387.0000057220459,"wires":[["ui_text"]]},{"id":"websocket_out","type":"websocket out","z":"92042de7f77235d1","name":"WebSocket Send","server":"f2fbea9c78fb04ef","client":"","x":760.0126876831055,"y":792.8127565383911,"wires":[]},{"id":"inject_node","type":"inject","z":"92042de7f77235d1","name":"Send Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello WebSocket!","payloadType":"str","x":260.0125617980957,"y":784.8126382827759,"wires":[["8c3182840e2987c8"]]},{"id":"8c3182840e2987c8","type":"function","z":"92042de7f77235d1","name":"function 1","func":"// Transformez le message reçu pour l'adapter à InfluxDB\nmsg.payload = [\n    {\n        measurement: \"websocket_data\", // Nom de la mesure dans InfluxDB\n        fields: {\n            value: msg.payload // Données reçues du WebSocket\n        },\n        tags: {\n            source: \"websocket\" // Vous pouvez ajouter des tags pour filtrer les données\n        },\n        timestamp: new Date().getTime() // Timestamp de l'événement\n    }\n];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":523.9999847412109,"y":780.4844479560852,"wires":[["websocket_out"]]},{"id":"cfb44f9b662fe68d","type":"websocket in","z":"92042de7f77235d1","name":"WebSocket Receive","server":"f2fbea9c78fb04ef","client":"","x":220.81249237060547,"y":647.0125570297241,"wires":[["f4fda97bcce9257a"]]},{"id":"f4fda97bcce9257a","type":"function","z":"92042de7f77235d1","name":"Function influxDB","func":"// Transformez le message reçu pour l'adapter à InfluxDB\nmsg.payload = [\n    {\n        measurement: \"websocket_data\", // Nom de la mesure dans InfluxDB\n        fields: {\n            value: msg.payload // Données reçues du WebSocket\n        },\n        tags: {\n            source: \"websocket\" // Vous pouvez ajouter des tags pour filtrer les données\n        },\n        timestamp: new Date().getTime() // Timestamp de l'événement\n    }\n];\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":434.81249237060547,"y":647.0125570297241,"wires":[["d0910d118184cd45","cdc644981ceb9cce"]]},{"id":"d0910d118184cd45","type":"influxdb out","z":"92042de7f77235d1","influxdb":"5ba7f60809348175","name":"","measurement":"","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Framboise","bucket":"testBD","x":684.8124923706055,"y":685.0125570297241,"wires":[]},{"id":"cdc644981ceb9cce","type":"debug","z":"92042de7f77235d1","name":"Debug Message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680.8124923706055,"y":605.0125551223755,"wires":[]},{"id":"b5640878e8218e75","type":"ui_group","name":"Light Detector","tab":"33b40955f4d4b92f","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"f2fbea9c78fb04ef","type":"websocket-listener","path":"ws://localhost:8765","wholemsg":"false"},{"id":"5ba7f60809348175","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"my_influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":"10","rejectUnauthorized":true},{"id":"33b40955f4d4b92f","type":"ui_tab","name":"Stats","icon":"data_usage","order":2,"disabled":false,"hidden":false}]