cloud/flows.json
[{"id":"dbb84de32048ee02","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"931122e832db0365","type":"comment","z":"dbb84de32048ee02","name":"Alert Message","info":"","x":126,"y":99,"wires":[]},{"id":"74df17c9df25dcf0","type":"switch","z":"dbb84de32048ee02","name":"switch","property":"payload.message.value1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"lte","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":785.9999618530273,"y":103.00002670288086,"wires":[["e39bcb0c8668827a"],["03aebc715ff1b1c9"]]},{"id":"e39bcb0c8668827a","type":"change","z":"dbb84de32048ee02","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":956.1428833007812,"y":84.00003051757812,"wires":[[]]},{"id":"03aebc715ff1b1c9","type":"change","z":"dbb84de32048ee02","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":945.2857666015625,"y":122.00003051757812,"wires":[[]]},{"id":"981f778d52b62796","type":"ui_button","z":"dbb84de32048ee02","name":"Send Request Button","group":"0251fc4a06344c35","order":3,"width":"4","height":"2","passthru":false,"label":"Envoyer Requête","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","topic":"","topicType":"str","x":413.9999694824219,"y":796.000114440918,"wires":[["12415487e5df7b1e"]]},{"id":"d4db3aea7109e02c","type":"websocket in","z":"dbb84de32048ee02","name":"WebSocket Receive","server":"f2fbea9c78fb04ef","client":"","x":160.20004272460938,"y":461.8126220703125,"wires":[["533ed279c54c05d3"]]},{"id":"6d737099da679c05","type":"websocket out","z":"dbb84de32048ee02","name":"WebSocket Send","server":"f2fbea9c78fb04ef","client":"","x":858.2000732421875,"y":826.812744140625,"wires":[]},{"id":"b54302f3f19b7463","type":"inject","z":"dbb84de32048ee02","name":"Send Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","x":436.2000045776367,"y":857.8126831054688,"wires":[["12415487e5df7b1e"]]},{"id":"12415487e5df7b1e","type":"json","z":"dbb84de32048ee02","name":"","property":"payload","action":"str","pretty":false,"x":628.1874961853027,"y":826.7969970703125,"wires":[["6d737099da679c05","9dd67eaee8dda4bf"]]},{"id":"533ed279c54c05d3","type":"json","z":"dbb84de32048ee02","name":"","property":"payload","action":"obj","pretty":false,"x":353.99993896484375,"y":461.61248779296875,"wires":[["39cd3ad6ad5d49dc"]]},{"id":"bd8cccd00f943a90","type":"ui_gauge","z":"dbb84de32048ee02","name":"","group":"0251fc4a06344c35","order":2,"width":0,"height":0,"gtype":"gage","title":"Valeur","label":"units","format":"{{msg.payload.message.value1}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":803.1875,"y":573.3657531738281,"wires":[]},{"id":"39cd3ad6ad5d49dc","type":"switch","z":"dbb84de32048ee02","name":"","property":"payload.message.id_boitier","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":502.20002365112305,"y":461.4843759536743,"wires":[["a168f326a051bbb4","1a843f6ff4050153"],["bd8cccd00f943a90","4244624def59e626"]]},{"id":"a168f326a051bbb4","type":"debug","z":"dbb84de32048ee02","name":"Debug Message1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":844.5999145507812,"y":168.41250610351562,"wires":[]},{"id":"4244624def59e626","type":"debug","z":"dbb84de32048ee02","name":"Debug Message2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":843.9998779296875,"y":529.0125427246094,"wires":[]},{"id":"e524487c758bec06","type":"switch","z":"dbb84de32048ee02","name":"switch","property":"payload.message.value1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"lte","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":787.9999618530273,"y":636.9999961853027,"wires":[["7caced747b17f060"],["06481b838e85ec7b"]]},{"id":"7caced747b17f060","type":"change","z":"dbb84de32048ee02","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":958.1428833007812,"y":618,"wires":[[]]},{"id":"06481b838e85ec7b","type":"change","z":"dbb84de32048ee02","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":947.2857666015625,"y":656,"wires":[[]]},{"id":"1a843f6ff4050153","type":"ui_gauge","z":"dbb84de32048ee02","name":"","group":"0251fc4a06344c35","order":1,"width":0,"height":0,"gtype":"gage","title":"Valeur","label":"units","format":"{{msg.payload.message.value1}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":799.1875,"y":271.7532043457031,"wires":[]},{"id":"43cb14bc78d8ecdb","type":"ui_button","z":"dbb84de32048ee02","name":"Envoyer seuils maj","group":"301832fd284bb4eb","order":6,"width":"4","height":"2","passthru":false,"label":"Mettre seuils à jour","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":267,"y":727,"wires":[["0b303553b8932775"]]},{"id":"d4154ac9efda1120","type":"function","z":"dbb84de32048ee02","name":"function slider 1","func":"msg.payload = {\n    id_boitier: 1,\n    seuil_irrigation: msg.payload\n};\nflow.set(\"slider1\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":437,"y":1090,"wires":[[]]},{"id":"096af16eaa42a031","type":"ui_text","z":"dbb84de32048ee02","group":"301832fd284bb4eb","order":4,"width":"3","height":"1","name":"","label":"Seuil irrigation","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":437,"y":1128,"wires":[]},{"id":"84ee5eab9ced05e3","type":"ui_slider","z":"dbb84de32048ee02","name":"","label":"slider irrigation module 1","tooltip":"","group":"301832fd284bb4eb","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"ui_step","topicType":"msg","min":0,"max":"999","step":"10","className":"","x":176,"y":1090,"wires":[["096af16eaa42a031","d4154ac9efda1120"]]},{"id":"beec0799a76dd046","type":"function","z":"dbb84de32048ee02","name":"function slider 2","func":"msg.payload = {\n    id_boitier: 2,\n    seuil_irrigation: msg.payload\n};\nflow.set(\"slider2\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":436,"y":1178,"wires":[[]]},{"id":"abe23f194053eb46","type":"ui_text","z":"dbb84de32048ee02","group":"301832fd284bb4eb","order":5,"width":"3","height":"1","name":"","label":"Seuil irrigation","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":436,"y":1216,"wires":[]},{"id":"380d01ec44a3f3f7","type":"ui_slider","z":"dbb84de32048ee02","name":"","label":"slider irrigation module 2","tooltip":"","group":"301832fd284bb4eb","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"ui_step","topicType":"msg","min":0,"max":"999","step":"10","className":"","x":175,"y":1178,"wires":[["abe23f194053eb46","beec0799a76dd046"]]},{"id":"0b303553b8932775","type":"function","z":"dbb84de32048ee02","name":"envoi jsons","func":"// Récupérer les JSONs depuis le contexte\nconst json1 = flow.get(\"slider1\");\nconst json2 = flow.get(\"slider2\");\n\n// Vérifier que les JSONs existent\nif (json1 || json2) {\n    // Regrouper tous les JSONs dans un gros JSON\n    const bigJson = {\"id\":\"cloud\",\"message\": \"maj_seuils\", \n        data: []\n    };\n\n    // Ajouter json1 s'il existe\n    if (json1) {\n        bigJson.data.push(json1);\n    }\n\n    // Ajouter json2 s'il existe\n    if (json2) {\n        bigJson.data.push(json2);\n    }\n\n    // Envoyer le gros JSON\n    return { payload: bigJson };\n} else {\n    node.warn(\"Aucun JSON n'est disponible dans le contexte.\");\n    return null; // Rien à envoyer si aucun JSON n'existe\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":447,"y":727,"wires":[["12415487e5df7b1e"]]},{"id":"9dd67eaee8dda4bf","type":"debug","z":"dbb84de32048ee02","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":848,"y":734,"wires":[]},{"id":"868457759649e21b","type":"inject","z":"dbb84de32048ee02","name":"Send Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","x":156,"y":824,"wires":[["981f778d52b62796"]]},{"id":"0251fc4a06344c35","type":"ui_group","name":"LED","tab":"636141862a59d893","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"f2fbea9c78fb04ef","type":"websocket-listener","path":"ws://192.168.137.127:8765","wholemsg":"false"},{"id":"301832fd284bb4eb","type":"ui_group","name":"Value","tab":"636141862a59d893","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"636141862a59d893","type":"ui_tab","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
