cloud/node-red/data/flows.json
[{"id":"92042de7f77235d1","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"5ba7f60809348175","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"my_influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":"10","rejectUnauthorized":true},{"id":"33b40955f4d4b92f","type":"ui_tab","name":"Stats","icon":"data_usage","order":2,"disabled":false,"hidden":false},{"id":"a309c8a19ab42cb2","type":"ui_tab","name":"Map","icon":"map","order":3,"disabled":false,"hidden":false},{"id":"b5640878e8218e75","type":"ui_group","name":"Light Detector","tab":"33b40955f4d4b92f","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"234b79cc97402da8","type":"ui_group","name":"","tab":"a309c8a19ab42cb2","order":1,"disp":false,"width":30,"collapse":false,"className":""},{"id":"6d85d11fa4458ead","type":"ui_group","name":"Accelerometer","tab":"33b40955f4d4b92f","order":2,"disp":true,"width":14,"collapse":false,"className":""},{"id":"add2dd79f12b4e99","type":"ui_group","name":"Alert Detector","tab":"33b40955f4d4b92f","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"583925e9774bb5c8","type":"ui_group","name":"Light Settings","tab":"33b40955f4d4b92f","order":4,"disp":true,"width":"14","collapse":false,"className":""},{"id":"56f3b6aee9dfd988","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ws_config","type":"websocket-client","path":"ws://localhost:5000","tls":"","wholemsg":"false"},{"id":"f2fbea9c78fb04ef","type":"websocket-listener","path":"ws://localhost:8765","wholemsg":"false"},{"id":"a7a38a2626b6e978","type":"http in","z":"92042de7f77235d1","name":"","url":"/app/alerte/:alertMessage","method":"get","upload":false,"swaggerDoc":"","x":216,"y":159,"wires":[["c63eab368704c7f4"]]},{"id":"c63eab368704c7f4","type":"function","z":"92042de7f77235d1","name":"function alert DB","func":"// Obtenir la date et l'heure actuelles\nlet now = new Date();\n\n// Formater la date en \"MM/dd/yyyy hh:mm:ss a\"\nlet formattedDate = formatDate(now);\n\n// Créer le message à envoyer à InfluxDB\nmsg.payload = {\n    alertMessage: String(msg.req.params.alertMessage),  // Message d'alerte reçu\n    timestamp: formattedDate  // Date actuelle\n};\n\nreturn msg;\n\n// Fonction pour formater la date\nfunction formatDate(date) {\n    let hours = date.getHours();\n    let minutes = date.getMinutes();\n    let seconds = date.getSeconds();\n    let ampm = hours >= 12 ? 'PM' : 'AM';\n    hours = hours % 12;\n    hours = hours ? hours : 12; // Ajuster pour afficher 12 au lieu de 0\n    minutes = minutes < 10 ? '0' + minutes : minutes;\n    seconds = seconds < 10 ? '0' + seconds : seconds;\n\n    let month = (date.getMonth() + 1).toString().padStart(2, '0'); // Mois commencent à 0\n    let day = date.getDate().toString().padStart(2, '0');\n    let year = date.getFullYear();\n\n    return `${month}/${day}/${year} ${hours}:${minutes}:${seconds} ${ampm}`;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":546,"y":159,"wires":[["6e9b1d2a3c4d4bf0"]]},{"id":"6e9b1d2a3c4d4bf0","type":"influxdb out","z":"92042de7f77235d1","influxdb":"5ba7f60809348175","name":"","measurement":"testAlert2","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"StevenEssam","bucket":"testBD","x":896,"y":159,"wires":[]},{"id":"9c984646c68dbe5e","type":"comment","z":"92042de7f77235d1","name":"Alert Message","info":"","x":126,"y":99,"wires":[]},{"id":"inject_pot","type":"inject","z":"92042de7f77235d1","name":"Potentiometer Input","props":[{"p":"payload"}],"repeat":"1","once":true,"topic":"","payload":"50","payloadType":"num","x":411.81249237060547,"y":438.99999046325684,"wires":[["switch_pot"]]},{"id":"switch_pot","type":"switch","z":"92042de7f77235d1","name":"Check Pot Value","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"100","vt":"num"},{"t":"gt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":666.8125114440918,"y":364.0000066757202,"wires":[["change_green"],["change_red"]]},{"id":"change_green","type":"change","z":"92042de7f77235d1","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":873.8125152587891,"y":299.0000057220459,"wires":[["ui_led"]]},{"id":"change_red","type":"change","z":"92042de7f77235d1","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":874.8125762939453,"y":458.0000057220459,"wires":[["ui_led"]]},{"id":"ui_led","type":"ui_led","z":"92042de7f77235d1","order":1,"group":"b5640878e8218e75","width":"","height":"","label":"Potentiometer LED","colorForValue":[{"color":"#008000","value":"green","valueType":"str"},{"color":"#ff0000","value":"red","valueType":"str"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"LED","x":1222.8124465942383,"y":370.00000381469727,"wires":[]},{"id":"ui_text","type":"ui_text","z":"92042de7f77235d1","group":"b5640878e8218e75","order":2,"width":6,"height":1,"name":"Potentiometer Value","label":"Potentiometer Value","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":906.8125152587891,"y":363.00003719329834,"wires":[]},{"id":"button","type":"ui_button","z":"92042de7f77235d1","name":"Send Request Button","group":"b5640878e8218e75","order":1,"width":6,"height":1,"passthru":false,"label":"Envoyer Requête","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":403.81256103515625,"y":274.0000228881836,"wires":[["http_request"]]},{"id":"http_request","type":"http request","z":"92042de7f77235d1","name":"HTTP Request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://jsonplaceholder.typicode.com/posts/1","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":666.8125114440918,"y":364.0000066757202,"wires":[["ui_text"]]},{"id":"websocket_in","type":"websocket in","z":"92042de7f77235d1","name":"WebSocket Receive","server":"f2fbea9c78fb04ef","client":"","x":480.0125617980957,"y":596.8126411437988,"wires":[["debug_node"]]},{"id":"websocket_out","type":"websocket out","z":"92042de7f77235d1","name":"WebSocket Send","server":"f2fbea9c78fb04ef","client":"","x":762.012622833252,"y":721.8127002716064,"wires":[]},{"id":"inject_node","type":"inject","z":"92042de7f77235d1","name":"Send Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello WebSocket!","payloadType":"str","x":480.0125846862793,"y":722.8126401901245,"wires":[["websocket_out"]]},{"id":"debug_node","type":"debug","z":"92042de7f77235d1","name":"Debug Message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680.0125617980957,"y":596.8126411437988,"wires":[]}]