cloud/node-red/data/flows.json
[{"id":"92042de7f77235d1","type":"tab","label":"Flux 1","disabled":false,"info":"","env":[]},{"id":"ef457432ffddda15","type":"group","z":"92042de7f77235d1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bef9c9269028e534"],"x":1057,"y":60,"w":152,"h":82},{"id":"3d6ddc35c3a0ad3c","type":"group","z":"92042de7f77235d1","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2fc0e661dd9f2295"],"x":1059,"y":593.9999694824219,"w":152,"h":82},{"id":"5ba7f60809348175","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"my_influxdb","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","timeout":"10","rejectUnauthorized":true},{"id":"33b40955f4d4b92f","type":"ui_tab","name":"Stats","icon":"data_usage","order":2,"disabled":false,"hidden":false},{"id":"a309c8a19ab42cb2","type":"ui_tab","name":"Map","icon":"map","order":3,"disabled":false,"hidden":false},{"id":"b5640878e8218e75","type":"ui_group","name":"Light Detector","tab":"33b40955f4d4b92f","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"234b79cc97402da8","type":"ui_group","name":"","tab":"a309c8a19ab42cb2","order":1,"disp":false,"width":30,"collapse":false,"className":""},{"id":"6d85d11fa4458ead","type":"ui_group","name":"Accelerometer","tab":"33b40955f4d4b92f","order":2,"disp":true,"width":14,"collapse":false,"className":""},{"id":"add2dd79f12b4e99","type":"ui_group","name":"Alert Detector","tab":"33b40955f4d4b92f","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"583925e9774bb5c8","type":"ui_group","name":"Light Settings","tab":"33b40955f4d4b92f","order":4,"disp":true,"width":"14","collapse":false,"className":""},{"id":"56f3b6aee9dfd988","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ws_config","type":"websocket-client","path":"ws://localhost:5000","tls":"","wholemsg":"false"},{"id":"f2fbea9c78fb04ef","type":"websocket-listener","path":"ws://192.168.137.127:8765","wholemsg":"false"},{"id":"636141862a59d893","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"0251fc4a06344c35","type":"ui_group","name":"LED","tab":"636141862a59d893","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"301832fd284bb4eb","type":"ui_group","name":"Value","tab":"636141862a59d893","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"9c984646c68dbe5e","type":"comment","z":"92042de7f77235d1","name":"Alert Message","info":"","x":126,"y":99,"wires":[]},{"id":"7f752de826ebaf8e","type":"switch","z":"92042de7f77235d1","name":"switch","property":"payload.message.valeur1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"lte","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":785.9999618530273,"y":103.00002670288086,"wires":[["e0d4e88bcbef1020"],["59ebebbdae2bea16"]]},{"id":"e0d4e88bcbef1020","type":"change","z":"92042de7f77235d1","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":956.1428833007812,"y":84.00003051757812,"wires":[["bef9c9269028e534"]]},{"id":"59ebebbdae2bea16","type":"change","z":"92042de7f77235d1","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":945.2857666015625,"y":122.00003051757812,"wires":[["bef9c9269028e534"]]},{"id":"ddf7660c13058e9c","type":"ui_button","z":"92042de7f77235d1","name":"Send Request Button","group":"0251fc4a06344c35","order":3,"width":"4","height":"2","passthru":false,"label":"Envoyer Requête","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","topic":"","topicType":"str","x":413.9999694824219,"y":796.000114440918,"wires":[["1b4376924ee9f443"]]},{"id":"22b63bf1c6294064","type":"websocket in","z":"92042de7f77235d1","name":"WebSocket Receive","server":"f2fbea9c78fb04ef","client":"","x":160.20004272460938,"y":461.8126220703125,"wires":[["d7c6a83918bacd7f"]]},{"id":"6bdbdaaf143969c4","type":"websocket out","z":"92042de7f77235d1","name":"WebSocket Send","server":"f2fbea9c78fb04ef","client":"","x":858.2000732421875,"y":826.812744140625,"wires":[]},{"id":"25a23b1a29becb0c","type":"inject","z":"92042de7f77235d1","name":"Send Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"id\":\"cloud\",\"message\": \"maj\"}","payloadType":"str","x":436.2000045776367,"y":857.8126831054688,"wires":[["1b4376924ee9f443"]]},{"id":"1b4376924ee9f443","type":"json","z":"92042de7f77235d1","name":"","property":"payload","action":"str","pretty":false,"x":628.1874961853027,"y":826.7969970703125,"wires":[["6bdbdaaf143969c4","ee97fbc817d8b34a"]]},{"id":"d7c6a83918bacd7f","type":"json","z":"92042de7f77235d1","name":"","property":"payload","action":"obj","pretty":false,"x":353.99993896484375,"y":461.61248779296875,"wires":[["9e3d12ae9f54da27"]]},{"id":"5c6a5f022042cca1","type":"ui_gauge","z":"92042de7f77235d1","name":"","group":"0251fc4a06344c35","order":3,"width":0,"height":0,"gtype":"gage","title":"Valeur","label":"units","format":"{{msg.payload.message.value1}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":803.1875,"y":573.3657531738281,"wires":[]},{"id":"9e3d12ae9f54da27","type":"switch","z":"92042de7f77235d1","name":"","property":"payload.message.id_boitier","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":502.20002365112305,"y":461.4843759536743,"wires":[["7f752de826ebaf8e","5405ae4e3486b617","8623ecefb94a205e","3639ff417fc76c78"],["37e2842b99ee4b9e","5c6a5f022042cca1","6c39c962c961c561","756dbf68a226137b"]]},{"id":"5405ae4e3486b617","type":"debug","z":"92042de7f77235d1","name":"Debug Message1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":844.5999145507812,"y":168.41250610351562,"wires":[]},{"id":"6c39c962c961c561","type":"debug","z":"92042de7f77235d1","name":"Debug Message2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":843.9998779296875,"y":529.0125427246094,"wires":[]},{"id":"37e2842b99ee4b9e","type":"ui_text","z":"92042de7f77235d1","group":"0251fc4a06344c35","order":2,"width":"5","height":"3","name":"Potentiometer Value","label":"Potentiometer Value","format":"{{msg.payload.message.value1}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":851,"y":488.612548828125,"wires":[]},{"id":"bef9c9269028e534","type":"ui_led","z":"92042de7f77235d1","g":"ef457432ffddda15","order":1,"group":"301832fd284bb4eb","width":"","height":"","label":"Potentiometer LED","colorForValue":[{"color":"#008000","value":"green","valueType":"str"},{"color":"#ff0000","value":"red","valueType":"str"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"LED","x":1133,"y":101,"wires":[]},{"id":"756dbf68a226137b","type":"switch","z":"92042de7f77235d1","name":"switch","property":"payload.message.valeur1","propertyType":"msg","rules":[{"t":"gt","v":"500","vt":"num"},{"t":"lte","v":"500","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":787.9999618530273,"y":636.9999961853027,"wires":[["d5a28ef2c252ce04"],["916e8a9b5d127907"]]},{"id":"d5a28ef2c252ce04","type":"change","z":"92042de7f77235d1","name":"LED Green","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"x":958.1428833007812,"y":618,"wires":[["2fc0e661dd9f2295"]]},{"id":"916e8a9b5d127907","type":"change","z":"92042de7f77235d1","name":"LED Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"x":947.2857666015625,"y":656,"wires":[["2fc0e661dd9f2295"]]},{"id":"2fc0e661dd9f2295","type":"ui_led","z":"92042de7f77235d1","g":"3d6ddc35c3a0ad3c","order":1,"group":"301832fd284bb4eb","width":"","height":"","label":"Potentiometer LED","colorForValue":[{"color":"#008000","value":"green","valueType":"str"},{"color":"#ff0000","value":"red","valueType":"str"}],"allowColorForValueInMessage":true,"shape":"circle","showGlow":true,"name":"LED","x":1135,"y":634.9999694824219,"wires":[]},{"id":"8623ecefb94a205e","type":"ui_text","z":"92042de7f77235d1","group":"0251fc4a06344c35","order":2,"width":"5","height":"3","name":"Potentiometer Value","label":"Potentiometer Value","format":"{{msg.payload.message.value1}}","layout":"row-center","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":850,"y":228,"wires":[]},{"id":"3639ff417fc76c78","type":"ui_gauge","z":"92042de7f77235d1","name":"","group":"0251fc4a06344c35","order":3,"width":0,"height":0,"gtype":"gage","title":"Valeur","label":"units","format":"{{msg.payload.message.value1}}","min":0,"max":"999","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":799.1875,"y":271.7532043457031,"wires":[]},{"id":"fc1ee935c316c408","type":"ui_button","z":"92042de7f77235d1","name":"Envoyer seuils maj","group":"0251fc4a06344c35","order":3,"width":"4","height":"2","passthru":false,"label":"Mettre seuils à jour","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"{\"id\":\"cloud\",\"message\": \"maj_seuils, \"id_boitier\": \"{}\"}","payloadType":"str","topic":"","topicType":"str","x":267,"y":727,"wires":[["bfe2f8ab48620659"]]},{"id":"703d06c15c1874ec","type":"function","z":"92042de7f77235d1","name":"function slider 1","func":"msg.payload = {\n    id: \"cloud\",\n    message: \"maj_seuils\",\n    id_boitier: 1,\n    seuil_irrigation: msg.payload\n};\nflow.set(\"slider1\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":437,"y":1090,"wires":[[]]},{"id":"66eb3889f8379739","type":"ui_text","z":"92042de7f77235d1","group":"301832fd284bb4eb","order":3,"width":"3","height":"1","name":"","label":"Seuil irrigation","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":437,"y":1128,"wires":[]},{"id":"74fdd0f3f7abcedf","type":"ui_slider","z":"92042de7f77235d1","name":"","label":"slider irrigation module 1","tooltip":"","group":"301832fd284bb4eb","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"ui_step","topicType":"msg","min":0,"max":"999","step":"10","className":"","x":176,"y":1090,"wires":[["66eb3889f8379739","703d06c15c1874ec"]]},{"id":"4a7e0165c6352a92","type":"function","z":"92042de7f77235d1","name":"function slider 2","func":"msg.payload = {\n    id: \"cloud\",\n    message: \"maj_seuils\",\n    id_boitier: 2,\n    seuil_irrigation: msg.payload\n};\nflow.set(\"slider2\", msg.payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":436,"y":1178,"wires":[[]]},{"id":"aea3d22a1af3dd3c","type":"ui_text","z":"92042de7f77235d1","group":"301832fd284bb4eb","order":3,"width":"3","height":"1","name":"","label":"Seuil irrigation","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":436,"y":1216,"wires":[]},{"id":"d701d7cb1b5e685e","type":"ui_slider","z":"92042de7f77235d1","name":"","label":"slider irrigation module 2","tooltip":"","group":"301832fd284bb4eb","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"ui_step","topicType":"msg","min":0,"max":"999","step":"10","className":"","x":175,"y":1178,"wires":[["aea3d22a1af3dd3c","4a7e0165c6352a92"]]},{"id":"bfe2f8ab48620659","type":"function","z":"92042de7f77235d1","name":"envoi jsons","func":"// Récupérer les JSONs depuis le contexte\nconst json1 = flow.get(\"slider1\");\nconst json2 = flow.get(\"slider2\");\n\n// Vérifier que les JSONs existent\nif (json1 || json2) {\n    // Regrouper tous les JSONs dans un gros JSON\n    const bigJson = {\n        jsons: []\n    };\n\n    // Ajouter json1 s'il existe\n    if (json1) {\n        bigJson.jsons.push(json1);\n    }\n\n    // Ajouter json2 s'il existe\n    if (json2) {\n        bigJson.jsons.push(json2);\n    }\n\n    // Envoyer le gros JSON\n    return { payload: bigJson };\n} else {\n    node.warn(\"Aucun JSON n'est disponible dans le contexte.\");\n    return null; // Rien à envoyer si aucun JSON n'existe\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":447,"y":727,"wires":[["1b4376924ee9f443"]]},{"id":"ee97fbc817d8b34a","type":"debug","z":"92042de7f77235d1","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":848,"y":734,"wires":[]}]